<mat-toolbar color="primary">
    Welcome to Rock Paper Scissors Lizard Spock!
</mat-toolbar>
<div class="content">
    <mat-card>
        <mat-card-content>
            <div class="content1">
                <h2>You</h2>
                <button mat-fab color="primary" class="score">
                {{ scores[0] }}
                </button>
            </div>
            <h3>Choose Your Weapon:</h3>
            <div class="content2">
                <i *ngFor="let weapon of weapons"
                    (click)="pick(weapon)"
                    [ngClass]="{'selectedWeapon':(playerSelected === weapon)}"
                    class="fa {{weapon.Icon}}">
                </i>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div class="content1">
                <h2>Computer</h2>
                <button mat-fab color="accent" class="score">
                {{ scores[1] }}
                </button>
            </div>
            <br><br>
            <div *ngIf="enemySelected" class="flex-container flex-center">
                <i class="fa {{enemySelected.Icon}}"></i>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="!loading && isResultShow" class="flex-container flex-center" style="flex-direction: column">
    <div>
        <h1>{{theResult.Action}}</h1>
    </div>
    <p>Pick Again or</p>
    <button (click)="reset()" mat-raised-button  color="primary">Reset Score</button>
</div>
<div class="flex-container flex-center" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
